

# dependencies
node_modules

# dist
/dist
/types
/docs/dist

.eslintcache
.npmrc
.githubtoken
.env

README-BK.md
yarn-error.log
**/.DS_Store
**/contents.xcworkspacedata

/react-native-simple-elements
